$main-text-color: #4F5665;
$main-title-color: #0B132A;
$base-red-color:  #F53855;
$background-first-type: #F6F6F6;
$background-second: #F8F8F8; 
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;800&display=swap');


* {
    font-family: rubik;
}
h2, h1 {
    font-weight: 500;
}
.row {
    margin: 0;
}
a {
    outline: none;
}
.span_medium {
    font-weight: 500;
}
.span_bold {
    font-weight: 600;
}
.header {
    display: flex;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    background-color: #FFFFFF;
}
.header__logo {
    width: 13.125rem;

}
.logo__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $main-title-color;
}

.logo__text {
    padding-left: 0.625rem;
    font-size: 1.25rem;
    font-weight: 500;
}

.login {
    display: flex;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
   
    @media (max-width:1024px) {
        flex-direction: column; 
        padding-top: 0.625rem;       
    }
}

.btn {
    color: $base-red-color;
    border: 1px solid $base-red-color;
    border-radius: 3.125rem;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    transition: background-color .4s ease;
    width: 100%;
    height: 100%;
}

.btn:hover {
    background-color: $base-red-color;
    color: white;
}

.btn_none-border {
    color: $main-text-color;
    border: none;
    transition: background-color .4s ease;
    @media (max-width:1024px) {
        color: $main-text-color;
        border: 1px solid $main-text-color; 
    }
}
.btn_none-border:hover {
    background-color: $main-text-color;
    color: white;
}
.menu {
    margin-left: auto;
}

.btn_menu {
    width: 13.125rem;
    height: 2.813rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.625rem;
    @media (max-width:1024px) {
        margin-left: 0;
        margin-top: 0.625rem;     
    }
    
}

.btn_opener {
    display: none;
    background-color: transparent;
    color: $main-text-color;
    outline: none;
    border: none;
    cursor: pointer;
    @media (max-width:1024px) {
       display: block;   
    }
}

.header__menu-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding-left: 0;
    @media (max-width:1024px) {
        display:block;
        position: absolute;
        text-align: center;
        left: -96px;
        z-index: 1;
        background-color: $background-first-type    ;
        padding-top:50.313;
        padding-bottom:50.313;
        border-radius: 1.25rem;
    }
   
}


.menu-list__block {
    @media (max-width:1024px) {
        display:none;
    }
}

.menu-list__block_open {
    display: block;
}
.menu-item {
   padding-left: 0.625rem;
   padding-right: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 5.938rem;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width:1024px) {
    .menu-item:not(:first-child) {
        padding-top: 1.25rem;
    }
}

.menu-item__link {
    text-decoration: none;
    color: $main-text-color;
    transition: color .4s ease;
}
.menu-item__link:hover {
    color: $base-red-color;
}
.get-started {
    padding-top: 3.125rem;
    padding-bottom: 5.938rem;
    background-color: #FFFFFF;
    
}
.get-started__img {
    width: 100%;
    max-width: 611px;
    height: 100%;
    @media (max-width:1200px) {
        display:none;
    }
}
.get-started__text-block {
    padding-top:2.188rem;
    padding-bottom:2.188rem;
    @media (max-width:768px) {
        text-align: center;
    }
}
.get-started__title {
    font-size: 3.125rem;
    color: $main-title-color;
    
    
}

.get-stardet__text {
    font-size: 16px;
    color: $main-text-color;
}
.get-stardet__text span {
    font-weight: 500;
}
.get-started__btn-wrapper {
    padding-top:3.75rem;
    @media (max-width:768px) {
        margin: 0 auto;
    }
}
.btn_square {
    width: 15.125rem;
    height:3.75rem;
    color: white;
    border-radius: 0.625rem;
    background-color: $base-red-color;
    outline: none;
    border: none    ;
    cursor: pointer;
    transition: background-color .4s ease;
    transition: box-shadow .4s ease;
    box-shadow: 0px 1.25rem 40px -11px $base-red-color;
    
}
.btn_square:hover {
    background-color: $main-text-color;
    box-shadow: 0px 1.25rem 40px -11px $main-text-color;
}

.get-started__description {
    display: flex;
    flex-wrap: wrap;
    padding-top: 37px;
    padding-bottom: 37px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0.625rem 1.25rem 75px 15px rgba(13, 16, 37, 0.1);
   border-radius: 0.625rem;
   margin-top: 3.125rem;
}
   

.description__item {
    display: flex;
    padding-top: 36px;
    padding-bottom: 36px;
    align-items: center;
    justify-content: center;
   
}
.description__item-wrapper {
    margin: 0 auto;
}
.description__item-wrapper_border{
   border-left:2px solid #EEEFF2;
   border-right: 2px solid #EEEFF2;
    margin: 0 auto;
    @media (max-width:1200px) {
    border-right: none;
       
    }
    @media (max-width:768px) {
      border: none;
           
        }
    
}

.description-item__text-block {
    padding-left: 36.5px;
    font-size: 25px;
    width: 91px;
}

.description-item__text {
   font-size: 1.25rem;
    margin: 0;
}

.get-strarted__we-provide {
    display: flex;
    padding-top:3.75rem;
}

.we-provide__text-block {
    padding-top: 40px;
    @media (max-width:768px) {
        text-align: center;
    }
}
.we-provide__title {
    font-size:2.188rem;
    font-weight: 500;
    @media (max-width:768px) {
        br {
            display: none;
        }
    }
}
.we-provide__text {
    padding-bottom:50.313;
}
.we-provide__worth-item {
    display: flex;
    align-items: center;
    padding-top: 15px;
    width: 215px;
    font-size: 14px;
    @media (max-width:768px) {
        margin: 0 auto;
    }
}
.worth__text {
    padding-left: 0.625rem;
}
.choose-plan {
    background: linear-gradient(180deg, rgb(248, 248, 248),  rgb(255, 255, 255));
    padding-bottom: 13.125rem;
}
.choose-plan__text-block {
    text-align: center;
    padding-bottom:3.75rem;
}
.plan-block__item {
    display: flex;
    align-items: center;
   
    width: 1.875rem;
    width: 13.875rem;
    margin: 0 auto;
    padding-top:  0.625rem;
    line-height: 1.875rem;
}
.plan-block__worth-block {
    padding-top: 1.875rem;
    
   
}
.plan-block__worth-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    
    
}
.choose-plan__plan-block {
    max-width: 21.875rem;
    min-height: 760px;
    border: 2px solid #DDDDDD;
    border-radius: 0.625rem;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
    margin-top: 0.625rem;
    padding-bottom: 1.875rem;
}
.plan-block__check-img {
    width: 24px;
    height: 24px;
}

.plan-block__elem {
    padding-left: 1.25rem;
    
}

.price__text {
    font-size: 25px;
   
}

.plan-block__price-btn {
    padding-top: 1.875rem;
   
}
.plan-block__btn-block {
    
    margin: 0 auto;
  
    padding-top: 1.25rem;

}
.plan-block__title {
    font-size: 18px;
    font-weight: 500;
}
.btn_plan-block {
    height: 2.813rem;
    width: 178px;
}

.network__text-block {
    text-align: center;
   
    
}
.slider__wrapper {
    // width: 100%;
    flex-wrap: nowrap;
}
.network__map-block {
    padding-top: 155px;
    @media (max-width:767px) {
        padding-top: 1.25rem;
    }
}
.network__img {
    width: 100%;
}
.network__sponsors {
    display: flex;
    flex-wrap: wrap;
    padding-top: 84px;
    padding-bottom: 128px;
}

.sponsors__item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 208px;
    width: 100%;
   margin: 0 auto;
   padding-top: 1.25rem;
}
.reviews__text-block {
    text-align: center;
}
.reviews__title {
    font-size:2.188rem;
    @media (max-width:768px) {
        br {
            display: none;
        }
    }
}
.slider__item {
    max-width: 400px;
  
    min-height: 16.875rem;
    border: 2px solid #DDDDDD;
    border-radius: 0.625rem;
    margin-left: 3.125rem;
    width: auto;
    cursor: pointer;
    &:hover, &:active {
        border: 2px solid #F53838;
        
    }
    @media (max-width:1024) {
        margin-left: 0;
    }
}
.slider__item:first-of-type {
    margin-left: 0;
}
.slick-arrow {
    width:3.75rem;
    height:3.75rem;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #F53838;
    position: absolute;
    color:  #F53838;
    transition: background-color .4s ease;
    transition: color .4s ease;
    &:hover, &:active {
        background-color: #F53838;
        color: white;
    }
    
}
.slider__item {
    padding: 1.875rem;
    display: flex;
   
     @media (max-width:540px) {
        flex-direction: column;
    }
    

}

.slider-title__img{
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
}
.slider-item__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.slider-titel__name {
    padding-left: 1.313rem;
}
.title-name__name{
    margin: 0;
}

.slider-item__star {
    display: flex;
    align-items: center;
    @media (max-width:540px) {
        padding-top: 1.25rem;
    }
}

.slide-item__text {
    line-height: 1.875rem;
}