@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;800&display=swap");
* {
  font-family: rubik;
}

h2, h1 {
  font-weight: 500;
}

.row {
  margin: 0;
}

a {
  outline: none;
}

.span_medium {
  font-weight: 500;
}

.span_bold {
  font-weight: 600;
}

.header {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
  z-index: 1;
}

@media (max-width: 1024px) {
  .header {
    padding-top: 2.125rem;
    padding-bottom: 2.125rem;
  }
}

.header__logo {
  width: 9.125rem;
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #0B132A;
}

.logo__text {
  padding-left: 0.625rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

@media (max-width: 1024px) {
  .login {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0.625rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.btn {
  color: #F53855;
  border: 1px solid #F53855;
  border-radius: 3.125rem;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  width: 100%;
  height: 100%;
}

.btn:hover {
  background-color: #F53855;
  color: white;
}

.btn_none-border {
  color: #4F5665;
  border: none;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
}

@media (max-width: 1024px) {
  .btn_none-border {
    color: #4F5665;
    border: 1px solid #4F5665;
  }
}

.btn_none-border:hover {
  background-color: #4F5665;
  color: white;
}

.menu {
  margin-left: auto;
}

.btn_menu {
  width: 9.125rem;
  height: 2.813rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.625rem;
}

@media (max-width: 1024px) {
  .btn_menu {
    margin-left: 0;
    margin-top: 0.625rem;
  }
}

.btn_opener {
  display: none;
  background-color: transparent;
  color: #4F5665;
  outline: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .btn_opener {
    display: block;
  }
}

.header__menu-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
}

@media (max-width: 1024px) {
  .menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .menu-list__block {
    position: fixed;
    top: 117px;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(white));
    background: linear-gradient(180deg, #f8f8f8, white);
    left: -100%;
    bottom: 0;
    overflow: auto;
    padding: 10px 0;
    width: 350px;
    -webkit-transition: left .4s ease;
    transition: left .4s ease;
    -webkit-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
    z-index: 5;
  }
}

@media (max-width: 420px) {
  .menu-list__block {
    width: 100%;
  }
}

.menu-list__block_open {
  display: block;
  left: 0;
}

.menu-item {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 5.938rem;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1024px) {
  .menu-item:not(:first-child) {
    padding-top: 1.25rem;
  }
}

.menu-item__link {
  text-decoration: none;
  color: #4F5665;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}

.menu-item__link:hover {
  color: #F53855;
}

.get-started {
  padding-top: 14.125rem;
  padding-bottom: 5.938rem;
  background-color: #FFFFFF;
}

.get-started__img {
  width: 100%;
  max-width: 611px;
  height: 100%;
}

@media (max-width: 1200px) {
  .get-started__img {
    display: none;
  }
}

.get-started__text-block {
  padding-top: 2.188rem;
  padding-bottom: 2.188rem;
}

@media (max-width: 768px) {
  .get-started__text-block {
    text-align: center;
  }
}

.get-started__title {
  font-size: 3.125rem;
  color: #0B132A;
}

.get-stardet__text {
  font-size: 16px;
  color: #4F5665;
}

.get-stardet__text span {
  font-weight: 500;
}

.get-started__btn-wrapper {
  padding-top: 3.75rem;
}

@media (max-width: 768px) {
  .get-started__btn-wrapper {
    margin: 0 auto;
  }
}

.btn_square {
  width: 15.125rem;
  height: 3.75rem;
  color: white;
  border-radius: 0.625rem;
  background-color: #F53855;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-transition: -webkit-box-shadow .4s ease;
  transition: -webkit-box-shadow .4s ease;
  transition: box-shadow .4s ease;
  transition: box-shadow .4s ease, -webkit-box-shadow .4s ease;
  -webkit-box-shadow: 0px 1.25rem 40px -11px #F53855;
          box-shadow: 0px 1.25rem 40px -11px #F53855;
}

.btn_square:hover {
  background-color: #4F5665;
  -webkit-box-shadow: 0px 1.25rem 40px -11px #4F5665;
          box-shadow: 0px 1.25rem 40px -11px #4F5665;
}

.get-started__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 37px;
  padding-bottom: 37px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0.625rem 1.25rem 75px 15px rgba(13, 16, 37, 0.1);
          box-shadow: 0.625rem 1.25rem 75px 15px rgba(13, 16, 37, 0.1);
  border-radius: 0.625rem;
}

.description__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 36px;
  padding-bottom: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description__item-wrapper {
  margin: 0 auto;
}

.description__item-wrapper_border {
  border-left: 2px solid #EEEFF2;
  border-right: 2px solid #EEEFF2;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .description__item-wrapper_border {
    border-right: none;
  }
}

@media (max-width: 768px) {
  .description__item-wrapper_border {
    border: none;
  }
}

.description-item__text-block {
  padding-left: 36.5px;
  font-size: 25px;
  width: 91px;
}

.description-item__text {
  font-size: 1.25rem;
  margin: 0;
}

.get-strarted__we-provide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3.75rem;
}

.we-provide__text-block {
  padding-top: 40px;
}

@media (max-width: 768px) {
  .we-provide__text-block {
    text-align: center;
  }
}

.we-provide__title {
  font-size: 2.188rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .we-provide__title br {
    display: none;
  }
}

.we-provide__text {
  padding-bottom: 50.313;
}

.we-provide__worth-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  width: 215px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .we-provide__worth-item {
    margin: 0 auto;
  }
}

.worth__text {
  padding-left: 0.625rem;
}

.choose-plan {
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(white));
  background: linear-gradient(180deg, #f8f8f8, white);
  padding-bottom: 13.125rem;
}

.choose-plan__text-block {
  text-align: center;
  padding-bottom: 3.75rem;
}

.plan-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.875rem;
  width: 13.875rem;
  margin: 0 auto;
  padding-top: 0.625rem;
  line-height: 1.875rem;
}

.plan-block__worth-block {
  padding-top: 1.875rem;
}

.plan-block__worth-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 400px;
}

.choose-plan__plan-block {
  max-width: 21.875rem;
  min-height: 760px;
  border: 2px solid #DDDDDD;
  border-radius: 0.625rem;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
  margin-top: 0.625rem;
  padding-bottom: 1.875rem;
}

.plan-block__check-img {
  width: 24px;
  height: 24px;
}

.plan-block__elem {
  padding-left: 1.25rem;
}

.price__text {
  font-size: 25px;
}

.plan-block__price-btn {
  padding-top: 1.875rem;
}

.plan-block__btn-block {
  margin: 0 auto;
  padding-top: 1.25rem;
}

.plan-block__title {
  font-size: 18px;
  font-weight: 500;
}

.btn_plan-block {
  height: 2.813rem;
  width: 178px;
}

.network__text-block {
  text-align: center;
}

.slic-slider {
  padding: 0 20px;
}

.network__map-block {
  padding-top: 155px;
}

@media (max-width: 767px) {
  .network__map-block {
    padding-top: 1.25rem;
  }
}

.title-name__village {
  color: #4F5665;
}

.network__img {
  width: 100%;
}

.network__sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 84px;
  padding-bottom: 128px;
}

.sponsors__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 208px;
  width: 100%;
  margin: 0 auto;
  padding-top: 1.25rem;
}

.reviews {
  padding-bottom: 200px;
}

@media (max-width: 768px) {
  .reviews {
    padding-bottom: 150px;
  }
}

.reviews__text-block {
  text-align: center;
  padding-bottom: 40px;
}

.reviews__title {
  font-size: 2.188rem;
}

@media (max-width: 768px) {
  .reviews__title br {
    display: none;
  }
}

.slider__item {
  max-width: 400px;
  padding: 30px;
  min-height: 16.875rem;
  border: 2px solid #DDDDDD;
  border-radius: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.slider__item:hover, .slider__item:active {
  border: 2px solid #F53838;
}

@media (max-width: 1024) {
  .slider__item {
    margin-left: 0;
  }
}

.slider__item:first-of-type {
  margin-left: 0;
}

.slick-arrow {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #F53838;
  position: absolute;
  color: #F53838;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}

.slick-arrow:hover, .slick-arrow:active {
  background-color: #F53838;
  color: white;
}

.slider__item {
  padding: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 540px) {
  .slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slider-title__img {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
}

.slider-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-titel__name {
  padding-left: 1.313rem;
}

.title-name__name {
  margin: 0;
}

.slider-title__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-title__rating-img {
  padding-left: 5px;
}

.slide-item__text {
  line-height: 1.875rem;
}

.sub-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0.625rem 1.25rem 75px 15px rgba(13, 16, 37, 0.1);
          box-shadow: 0.625rem 1.25rem 75px 15px rgba(13, 16, 37, 0.1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 10px;
  padding: 58px 70px;
  position: absolute;
  left: 0;
  top: -290px;
}

@media (max-width: 1024px) {
  .sub-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 58px 5px;
  }
  .sub-block button {
    margin-top: 20px;
  }
}

.footer {
  padding-top: 183px;
  padding-bottom: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(white));
  background: linear-gradient(180deg, #f8f8f8, white);
}

.footer .conatainer {
  position: relative;
}

.footer__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .footer__wrapper {
    padding-top: 40px;
  }
}

.links__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 576px) {
  .links__item {
    text-align: center;
  }
}

.footer__links-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.links-item__title {
  font-size: 18px;
}

.link-block__link {
  text-decoration: none;
  color: #4F5665;
}

.footer-social__link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}

.social__link-block {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #F53855;
  border-radius: 50%;
  -webkit-box-shadow: 0 13px 18px 0 rgba(17, 19, 35, 0.2);
          box-shadow: 0 13px 18px 0 rgba(17, 19, 35, 0.2);
}

.social__link {
  padding-top: 4px;
}

.social__link-block:not(:first-of-type) {
  margin-left: 20px;
}

.footer-social__description {
  color: #AFB5C0;
}

.footer__social-block {
  max-width: 370px;
}

@media (max-width: 992px) {
  .footer__social-block {
    max-width: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
  }
}

@media (max-width: 992px) {
  .footer-social__text {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */