@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;800&display=swap");
* {
  font-family: rubik;
}

h2, h1 {
  font-weight: 500;
}

.row {
  margin: 0;
}

a {
  outline: none;
}

.span_medium {
  font-weight: 500;
}

.span_bold {
  font-weight: 600;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #FFFFFF;
}

.header__logo {
  width: 150px;
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #0B132A;
}

.logo__text {
  padding-left: 10px;
  font-size: 20px;
  font-weight: 500;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 1024px) {
  .login {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10px;
  }
}

.btn {
  color: #F53855;
  border: 1px solid #F53855;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  width: 100%;
  height: 100%;
}

.btn:hover {
  background-color: #F53855;
  color: white;
}

.btn_none-border {
  color: #4F5665;
  border: none;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
}

@media (max-width: 1024px) {
  .btn_none-border {
    color: #4F5665;
    border: 1px solid #4F5665;
  }
}

.btn_none-border:hover {
  background-color: #4F5665;
  color: white;
}

.menu {
  margin-left: auto;
}

.btn_menu {
  width: 150px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

@media (max-width: 1024px) {
  .btn_menu {
    margin-left: 0;
    margin-top: 10px;
  }
}

.btn_opener {
  display: none;
  background-color: transparent;
  color: #4F5665;
  outline: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .btn_opener {
    display: block;
  }
}

.header__menu-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
}

@media (max-width: 1024px) {
  .menu-list {
    display: block;
    position: absolute;
    text-align: center;
    left: -96px;
    z-index: 1;
    background-color: #F6F6F6;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
  }
}

@media (max-width: 1024px) {
  .menu-list__block {
    display: none;
  }
}

.menu-list__block_open {
  display: block;
}

.menu-item {
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 95px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1024px) {
  .menu-item:not(:first-child) {
    padding-top: 20px;
  }
}

.menu-item__link {
  text-decoration: none;
  color: #4F5665;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}

.menu-item__link:hover {
  color: #F53855;
}

.get-started {
  padding-top: 50px;
  padding-bottom: 95px;
  background-color: #FFFFFF;
}

.get-started__img {
  width: 100%;
  max-width: 611px;
  height: 382px;
}

@media (max-width: 1200px) {
  .get-started__img {
    display: none;
  }
}

.get-started__text-block {
  padding-top: 35px;
  padding-bottom: 35px;
}

@media (max-width: 768px) {
  .get-started__text-block {
    text-align: center;
  }
}

.get-started__title {
  font-size: 50px;
  color: #0B132A;
}

.get-stardet__text {
  font-size: 16px;
  color: #4F5665;
}

.get-stardet__text span {
  font-weight: 500;
}

.get-started__btn-wrapper {
  padding-top: 60px;
}

@media (max-width: 768px) {
  .get-started__btn-wrapper {
    margin: 0 auto;
  }
}

.btn_square {
  width: 250px;
  height: 60px;
  color: white;
  border-radius: 10px;
  background-color: #F53855;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-transition: -webkit-box-shadow .4s ease;
  transition: -webkit-box-shadow .4s ease;
  transition: box-shadow .4s ease;
  transition: box-shadow .4s ease, -webkit-box-shadow .4s ease;
  -webkit-box-shadow: 0px 20px 40px -11px #F53855;
          box-shadow: 0px 20px 40px -11px #F53855;
}

.btn_square:hover {
  background-color: #4F5665;
  -webkit-box-shadow: 0px 20px 40px -11px #4F5665;
          box-shadow: 0px 20px 40px -11px #4F5665;
}

.get-started__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 37px;
  padding-bottom: 37px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 10px 20px 75px 15px rgba(13, 16, 37, 0.1);
          box-shadow: 10px 20px 75px 15px rgba(13, 16, 37, 0.1);
  border-radius: 10px;
  margin-top: 50px;
}

.description__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 36px;
  padding-bottom: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description__item-wrapper {
  margin: 0 auto;
}

.description__item-wrapper_border {
  border-left: 2px solid #EEEFF2;
  border-right: 2px solid #EEEFF2;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .description__item-wrapper_border {
    border-right: none;
  }
}

@media (max-width: 768px) {
  .description__item-wrapper_border {
    border: none;
  }
}

.description-item__text-block {
  padding-left: 36.5px;
  font-size: 25px;
  width: 91px;
}

.description-item__text {
  font-size: 20px;
  margin: 0;
}

.get-strarted__we-provide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
}

.we-provide__text-block {
  padding-top: 40px;
}

@media (max-width: 768px) {
  .we-provide__text-block {
    text-align: center;
  }
}

.we-provide__title {
  font-size: 35px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .we-provide__title br {
    display: none;
  }
}

.we-provide__text {
  padding-bottom: 5px;
}

.we-provide__worth-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  width: 215px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .we-provide__worth-item {
    margin: 0 auto;
  }
}

.worth__text {
  padding-left: 10px;
}

.choose-plan {
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(white));
  background: linear-gradient(180deg, #f8f8f8, white);
  padding-bottom: 150px;
}

.choose-plan__text-block {
  text-align: center;
  padding-bottom: 60px;
}

.plan-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  width: 230px;
  margin: 0 auto;
  padding-top: 10px;
  line-height: 30px;
}

.plan-block__worth-block {
  padding-top: 30px;
}

.plan-block__worth-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60%;
}

.choose-plan__plan-block {
  max-width: 330px;
  height: 760px;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
  margin-top: 10px;
}

.plan-block__check-img {
  width: 24px;
  height: 24px;
}

.plan-block__elem {
  padding-left: 20px;
}

.price__text {
  font-size: 25px;
}

.plan-block__price-btn {
  padding-top: 30px;
}

.plan-block__btn-block {
  margin: 0 auto;
  padding-top: 20px;
}

.plan-block__title {
  font-size: 18px;
  font-weight: 500;
}

.btn_plan-block {
  height: 45px;
  width: 178px;
}

.network__text-block {
  text-align: center;
}

.network__map-block {
  padding-top: 155px;
}

@media (max-width: 767px) {
  .network__map-block {
    padding-top: 20px;
  }
}

.network__img {
  width: 100%;
}

.network__sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 84px;
  padding-bottom: 128px;
}

.sponsors__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 208px;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
}

.reviews__text-block {
  text-align: center;
}

.reviews__title {
  font-size: 35px;
}

@media (max-width: 768px) {
  .reviews__title br {
    display: none;
  }
}

.slider__item {
  max-width: 400px;
  min-height: 230px;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  margin-left: 50px;
  width: auto;
  cursor: pointer;
}

.slider__item:hover, .slider__item:active {
  border: 2px solid #F53838;
}

.slider__item:first-of-type {
  margin-left: 0;
}

.slick-arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #F53838;
  position: absolute;
  color: #F53838;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}

.slick-arrow:hover, .slick-arrow:active {
  background-color: #F53838;
  color: white;
}

.slider__item {
  padding: 30px;
  max-width: 320px;
}

@media (max-width: 540px) {
  .slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slider-item__img-block {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.slider-item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 540px) {
  .slider-item__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slider-item__star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 540px) {
  .slider-item__star {
    padding-top: 20px;
  }
}

.star__text {
  padding-top: 3px;
  padding-right: 5px;
}

.star__img {
  width: 16px;
  height: 16px;
}

.slider-item__name-village {
  padding-left: 21px;
}

.slider-item__name {
  font-size: 18px;
  font-weight: 500;
}

.slider-item__text {
  padding-top: 8px;
  line-height: 30px;
}

.slider-item__village {
  font-size: 14px;
  padding-top: 5px;
}

.slider-item__img-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */